<div class="lang-switcher">
  {% for lang in site.languages %}
    {% assign is_default = lang | ==: site.default_lang %}
    {% if page.permalink_lang and page.permalink_lang[lang] %}
      {% assign target_path = page.permalink_lang[lang] %}
      {% assign target_url = target_path | prepend: site.baseurl %}
    {% else %}
      {% if is_default %}
        {% assign target_url = page.url | prepend: site.baseurl %}
      {% else %}
        {% capture target_url %}{{ site.baseurl }}/{{ lang }}{{ page.url }}{% endcapture %}
      {% endif %}
    {% endif %}
    {% if lang == site.active_lang %}
      <span class="lang-switcher-item active">{{ lang | upcase }}</span>
    {% else %}
      <a class="lang-switcher-item" href="{{ target_url }}">{{ lang | upcase }}</a>
    {% endif %}
  {% endfor %}
</div>
